@import "../../theme/variables.scss";

:global(.leaflet-container) {
  height: 100%;
}

.home {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background: #f00;
  position: fixed;
  top: 0;
  left: 0;

}

.panel {
  width: 100px;
  height: 100px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.fortMarker {
  height: 40px !important;;
  position: relative;
  left: -28px !important;
  top: -36px !important;;
}

.playerMarker {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #cc2727;
}

.pokemonMarker {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #cc9112;
}

.pokemonIcon {
  width: 40px;
}